body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 3px solid lightblue;
  box-shadow: 5px 5px lightblue;
  display: flex;
  flex-wrap: wrap;
}

.hover-square {
  background: black;
  transition: background 0.2s ease-in-out;
}